{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/tim-richter/myrtle.git",
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm", {
      "npmPublish": false
    }
    ],
    [
      "@semantic-release/git", {
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }
    ],
    ["@semantic-release/github", {
      "assets": [
        {"path": "AppImage/*", "label": "AppImage File for Linux"},
        {"path": "Deb/*", "label": "Deb File for Linux"},
        {"path": "Msi/*", "label": "Msi File for Windows"}
      ]
    }]
  ]
}
